.ms-page--about {

    h2 {
        font-size: calc(var(--text-lg) + 8pt);
        margin-bottom: var(--space-md);
        max-width: 66.66%;
    }
    .text-align-center {
        margin: 0 auto var(--space-md);
        text-align: center;
    }

    .text-align-right {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
    }

    .text-align-left {
        margin-left: 0;
        margin-right: auto;
        text-align: left;
    }
}

.ms_services {
    margin-bottom: calc(var(--space-xxl) - 2.1rem);
    .parent {
        margin-bottom: 0;
    }
    .ms_services--heading {
        display: flex;
        align-items: center;
        margin-bottom: var(--space-sm);
    }
    img {
        width: 35px;
        height: 35px;
        float: left;
        margin-right: 8pt;
    }
    h4 {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
}

/* -------------------------------- 
    Experience
-------------------------------- */
.ms_experience {
    margin-bottom: calc(var(--space-xxl) - 2.1rem);

    .company_name {
        font-weight: 600;
        display: block;
        margin-bottom: var(--space-xxxs);
    }

    .row {
        margin-bottom: calc(var(--space-md) * var(--text-vspace-multiplier));
        border-bottom: solid 1px var(--color-contrast-low);
    }
    .experience-text {
        display: flex;
        position: relative;       
    }
    .row:last-child {
        border-bottom: none;
    }
}

/* -------------------------------- 
    Team
-------------------------------- */

.ms_our-team {

    .parent {
        margin-bottom: 0;
    }
    h2 {

        span {
            color: var(--color-primary);
        }
    }
    img {
        display: flex;
        width: 100%;
        border-radius: .55rem;
    }
    h4 {
        font-weight: normal;
        margin-top: var(--space-xs);
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
        margin-top: .2rem;
        font-size: calc(var(--space-sm) - 1pt);
        color: var(--color-primary);
    }
}

/* -------------------------------- 
    Clients logo
-------------------------------- */
.ms_clients-gallery {
    margin-bottom: var(--space-xl);
    .parent {
        margin-bottom: 0;
    }
    hr {
        margin-top: 0;
        margin-bottom: var(--space-xl);
    }
    h2 {

        span {
            color: var(--color-primary);
        }
    }
    .c_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: var(--space-md);
        padding-bottom: var(--space-md);
    }
    img {
        width: 100%;
    }
}

/* -------------------------------- 
Clients logo
-------------------------------- */
.ms_clients-gallery {
    margin-bottom: var(--space-xl);
    .parent {
        margin-bottom: 0;
    }
    hr {
        margin-top: var(--space-md);
        margin-bottom: var(--space-xl);
    }
    h2 {
        margin-bottom: var(--space-lg);
        max-width: 66.66%;

        span {
            color: var(--color-primary);
        }
    }
    .c_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: var(--space-md);
        padding-bottom: var(--space-md);
    }
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 512px) {
    .c_logo {
        max-width: calc(33.33% - .01px - var(--gap,.75em));
        padding-bottom: var(--space-md) !important;
    }
    .ms_our-team p {
        font-size: inherit;
    }
    .ms_our-team h4 {
        margin-top: var(--space-md);
    }
    .company_name {
        font-size: 16px;
    }
    .year {
        margin-bottom: calc(var(--space-xl) * var(--text-vspace-multiplier));
    }
    
}